@import 'sidenav.css';

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

.navbar-custom {
    background-color: #014877;
}

.navbar-brand {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
}

.navbar-text-custom {
    color: white;
    font-family: 'Caveat Brush', cursive;
    opacity: 1;
}

.dropdown-menu-custom {
    background-color: #003A60;
    border: none;
}

.dropdown-menu-custom li a {
    color: white;
}

.school{
    color: white;
    font-family: 'Caveat Brush', cursive;
    display: none;
}

.main{
    background-color: #003A60;
    color: white;
}

.cover{
    background-color: #003A60;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.cover img{
    max-height: 250px;
    max-width: 100%;
}

@media screen and (max-width: 600px) {
    .navbar-text-custom {
        display: none;
    }
    .school{
        display: block;
    }
}

.content{
    background-color: #2398d4;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;;
}

.grade{
    padding-top: 100px;
}