.sidebar {
  height: 100%;
  width: 0; /* javascript altera*/
  position: fixed;
  z-index: 1; /* fixa no topo */
  top: 65px;
  right: 0;
  background-color: #002f4e;
  overflow-x: hidden; /* Desabilita o scroll horizontal */
  padding-top: 20px;
  transition: 0.5s;
}

.sidebar a {
  padding: 0px 8px 4px 25px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s;
}
  
.sidebar a:hover {
  color: #f1f1f1;
}
  
.sidebar h2{ 
  padding: 15px 8px 0px 25px;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

/* empurra o conteúdo da página para a direita quando o menu estiver aberto */
#main {
  transition: margin-right .5s;
}

@media screen and (max-height: 450px) {
   .sidebar {padding-top: 15px;}
   .sidebar a {font-size: 18px;}
}